body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.header {
  background-color: maroon;
  font-size: xx-large;
  color: white;
  padding: 10px;
}

.content {
  padding: 10px;
}
